/* src/components/About.css */
.about-section {
  position: relative;
  min-height: 100vh;
  background-color: #A60101;
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  max-width: 100vw;
  overflow-x: hidden;
}

.content-container {
  max-width: 800px;
  text-align: center;
}

.content-container h1 {
  font-family: 'BlackHanSans-Regular', serif;
  font-size: 2.225em;
  margin-bottom: 1em;
}

.content-container p {
  font-family: 'Glacial Indifference', sans-serif;
  font-size: 1.5em;
  line-height: 1.6;
  margin-bottom: 1.5em;
}

@media (max-width: 768px) {
  .content-container h1 {
    font-size: 2em;
  }
}