/* Banner Section Styles */
.banner-section {
  position: relative;
  height: 100vh;
  background-image: url('../assets/svg/background.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  overflow-x: hidden;
}

/* Container for logo and button */
.logo-and-button-container {
  margin-left: -5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap; /* allow wrap on mobile */
  max-width: 90vw;
  text-align: center;
}

#interactive-logo {
  width: 60%;
  max-width: 450px;
  height: auto;
  transition: width 0.3s ease;
}

.separator {
  font-size: 2em;
  color: #8b0000;
}

.student-button {
  background-color: #8b0000;
  color: #fcf6f1;
  font-size: 1.4em;
  padding: 16px 32px;
  text-decoration: none;
  border-radius: 40px;
  font-family: 'Glacial Indifference', sans-serif;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.student-button:hover {
  background-color: #600000;
  transform: translateY(-2px); /* Little lift on hover */
}

/* Mobile styles */
@media (max-width: 600px) {
  .logo-and-button-container {
    flex-direction: column;
    gap: 20px;
  }

  #interactive-logo {
    width: 75%;
  }

  .separator {
    display: none;
  }

  .student-button {
    font-size: 1em; 
    padding: 10px 20px;
    border-radius: 30px;
  }
}