.dump-section {
  background-color: #4e0101;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  position: relative;
  padding: 2em;
  box-sizing: border-box;
  overflow: hidden; /* Prevent y-axis overflow */
}

.dump-section h1 {
  font-family: 'BlackHanSans-Regular', serif;
  font-size: 3em;
  margin-bottom: 2em;
}

.dump-section a {
  margin-top: 3em;
  margin-bottom: 3em;
}

.dump-slider-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-x: hidden; /* Prevent horizontal overflow */
  scroll-snap-type: x mandatory; /* Enable snapping */
  width: 90vw; /* Full width of the container with space for arrows */
  padding: 0 4em; /* Add padding on sides for arrows */
  box-sizing: border-box;
  position: relative;
}

.dump-slide-container {
  display: flex;
  transition: transform 0.5s ease-in-out; /* Smooth scrolling */
  gap: 20px; /* Space between slides */
}

.dump-slide {
  width: calc(100vw / 3 - 120px); /* Ensure 3 slides fit with the gap included */
  height: 500px; /* Let height adjust naturally */
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  margin: 0;
  transition: transform 0.3s ease-in-out;
  scroll-snap-align: center; /* Snap each slide into center */
  overflow-y: hidden;
}

.dump-slide img {
  width: 110%;
  height: auto; /* Adjust height based on image ratio */
  object-fit: cover;
  border-radius: 15px;
}

.dump-drive-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1.2em;
  font-weight: bold;
  color: white;
  background-color: #a52a2a; /* Button color */
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dump-drive-button:hover {
  background-color: #8b0000; /* Darker shade on hover */
}

/* Mobile Adjustments */
@media (max-width: 768px) {
  .dump-section h1 {
    font-size: 2em;
  }
  .dump-slide {
    width: calc(100vw / 1.1); /* Adjust to make it fit better on smaller screens */
  }

  .dump-slider-container {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    padding: 0; /* Remove padding to avoid space on the left */
    /* justify-content: center; Center content in mobile */
  }
}
