.membership-steps-section {
  background-color: #A60101;
  color: white;
  padding: 4em 1em;
  text-align: center;
  min-height: 100vh;
}

.membership-title {
  font-size: 2em;
  margin-bottom: 2em;
}

.steps-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.step-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.step {
  display: flex;
  align-items: center;
  margin-bottom: 1.5em;
}

.step-number {
  background-color: #D9D9D9;
  color: black;
  font-weight: bold;
  font-size: 1.5em;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  text-align: center;
  margin-right: 1em;
  flex-shrink: 0;
}

.step-content {
  background-color: #4D0D0D;
  padding: 1em 2em;
  border-radius: 12px;
  text-align: center  ;
  min-width: 250px;
  transition: background 0.3s ease;
}

.step-content.clickable {
  cursor: pointer;
}

.step-content.clickable:hover {
  background-color: #5e1515;
}

.step-content.transparent {
  background-color: transparent;
  padding: 1em 2em;
}

.step-title {
  font-size: 1.2em;
  font-weight: bold;
}

.step-description {
  font-size: 0.95em;
  margin-top: 0.5em;
  color: #ccc;
}

.dotted-line {
  height: 30px;
  border-left: 3px dotted white;
  margin-top: -10px;
  margin-bottom: 20px;
  margin-left: 70px;
}

.survival-guide {
  margin-top: 4em;
  text-align: center;
}

.guide-btn {
  background-color: #4D0D0D;
  border: none;
  color: white;
  padding: 1em 2em;
  font-size: 1em;
  border-radius: 8px;
  margin-top: 1em;
  cursor: pointer;
  transition: background 0.3s;
}

.guide-btn:hover {
  background-color: #2a0101;
}

@media (max-width: 600px) {
  .membership-steps-section {
    margin-top: 1em;
    padding: 2em 1em;
  }

  .membership-title {
    font-size: 1.5em;
  }

  .step-number {
    width: 50px;
    height: 50px;
    font-size: 1.2em;
    line-height: 50px;
  }

  .step-content {
    font-size: 0.95em;
    padding: 0.8em 1.2em;
  }

  .step-title {
    font-size: 1em;
  }

  .step-description {
    font-size: 0.85em;
  }

  .guide-btn {
    font-size: 0.9em;
    padding: 0.8em 1.5em;
    width: 90%;
    max-width: 300px;
  }

  .step-content.transparent {
    background-color: transparent;
    padding: 0;
    text-align: center;
    min-width: 285px;
    width: 90%;
    display: flex;
    justify-content: center;
  }
}
