/* Not Found Page */
.not-found-section {
  position: relative;
  height: 100vh;
  background-image: url('../assets/svg/background.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  overflow-x: hidden;
  text-align: center;
  color: white;
}

.not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  padding: 20px;
}

/* Ensure the logo is centered */
.logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.not-found-logo {
  width: 150px;
}

.not-found-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.not-found-title {
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 10px;
  color: black;
}

.not-found-text {
  font-size: 1.5em;
  margin-bottom: 20px;
  color: black;
}

.home-link {
  display: inline-block;
  background-color: #A60101;
  color: white;
  font-size: 1.2em;
  padding: 10px 20px;
  border-radius: 30px;
  text-decoration: none;
  transition: background 0.3s ease;
}

.home-link:hover {
  background-color: #670202;
}

/* Mobile Adjustments */
@media (max-width: 600px) {
  .not-found-title {
    font-size: 2.5em;
  }

  .not-found-text {
    font-size: 1.2em;
  }

  .not-found-logo {
    width: 120px;
  }

  .home-link {
    font-size: 1em;
    padding: 8px 16px;
  }
}
