.survival-guide-container {
  background-color: #fcf6f1;
  color: rgb(0, 0, 0);
  min-height: 100vh;
  padding: 2em;
  text-align: center;
  font-family: 'Glacial Indifference', sans-serif;
}

.title {
  font-size: 2.5em;
  margin-top: 17vh;
  margin-bottom: 10px;
  font-family: 'BlackHanSans-Regular', serif;
}

.description {
  font-size: 1.2em;
  margin-bottom: 30px;
  max-width: 700px;
  margin-left: auto; 
  margin-right: auto;
  text-align: center;
}

.pdf-section {
  background-color: rgba(252, 246, 241, 0.8);
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.pdf-viewer {
  width: 90%;          
  height: 700px;     
  max-width: 600px;
  display: block;
  margin: 20px auto;
  border: 1px solid #ccc;
}

@media screen and (max-width: 768px) {
  .pdf-viewer {
    width: 90%;
    height: 300px;
  }
}

@media screen and (max-width: 480px) {
  .pdf-viewer {
    width: 95%; 
    height: 250px;
  }
}

.download-button {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #8b0000;
  color: white;
  text-decoration: none;
  font-size: 1em;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.download-button:hover {
  background-color: #600000;
}

.past-editions {
  margin-top: 40px;
}

.past-guide {
  margin-bottom: 15px;
}

.past-guide p {
  font-size: 1.1em;
  margin-bottom: 5px;
}
