/* Team Section */
.team-section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden; /* Hide any overflow */
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-container {
  display: flex;
  height: 100%;
  width: 100%;
  /* overflow: hidden; */
  transition: transform 0.5s ease-in-out; /* Smooth transition */
}

/* Slide Styles */
.slide {
  min-width: 100vw; /* Each slide takes up full viewport width */
  height: 100vh; /* Each slide takes up full viewport height */
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Overlay Styling */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: white;
  z-index: 2;
}

.overlay h1 {
  font-family: 'Glacial Indifference - Bold', sans-serif;
  font-size: 2.5em;
  margin: 0;
  padding: 0 1em;
  margin-bottom: 20px;
}

.team-members p {
  font-family: 'Glacial Indifference - Regular', sans-serif;
  font-size: 1.2em;
  color: white;
  margin: 5px 0;
}

/* Navigation Buttons */
.prev-button, .next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 3rem;
  color: white;
  cursor: pointer;
  z-index: 3;
}

.prev-button {
  left: 20px;
}

.next-button {
  right: 20px;
}

/* Mobile: Swipe functionality, hide buttons */
@media (max-width: 1000px) {
  .prev-button, .next-button {
    display: none;
  }

  .overlay h1 {
    font-size: 1.8em; /* Smaller heading size */
    padding: 0 10px; /* Add padding to prevent text overflow */
  }

  .team-members p {
    font-size: 1em; /* Smaller text for members */
    padding: 0 10px; /* Padding to prevent text overflow */
  }

  .slider-container {
    scroll-snap-type: x mandatory; /* Lock into place */
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .slide {
    scroll-snap-align: start; /* Snap to each slide */
  }
}

