/* src/App.css */

/* Main App container styling */
.App {
  text-align: center;
}

/* Ensure smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Reset padding and margin for all sections */
section {
  padding: 0;
  margin: 0;
}

/* Set a default max-width to prevent overflow issues */
section {
  max-width: 100vw;
  overflow-x: hidden;
}

/* Ensure the body has a default background and color */
body {
  background-color: #000;
  color: #d9d9d9;
}

/* Add additional styling for the main content if needed */
.main-content {
  padding: 20px;
  font-family: 'Glacial Indifference', sans-serif;
}

/* Optional: Style the container to include a transition effect */
.container {
  transition: all 0.3s ease-in-out;
}
